h1, h2 {
  font-size: 1.5rem; // un peu plus petit que h1 par défaut
}

.etapes-container {
  background-color: #82b864;
  margin: 1.5rem; 
}

.artisan-top {
  background-color: rgb(0, 116, 199, 0.85);
}

p{
  color: black;
}