// Titres principaux de la page d'accueil
h1,
h2 {
  font-size: 1.3rem;
}

// Bloc contenant les étapes explicatives
.etapes-container {
  background-color: #82b864;
  margin: 1.5rem;
}

// Cartes des artisans du mois
.artisan-top {
  background-color: #0074c7;
}

// Texte des cartes et sections
.artisan-top p,
.etapes-container p {
  color: black;
}