.erreur-container {
  text-align: center;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .erreur-image {
    width: 400px; 
    margin-bottom: 6rem;

    @media (min-width: 768px) {
      width: 400px;
    }

    @media (min-width: 1200px) {
      width: 600px;
    }
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
