// Styles du footer du site
.footer {
  background-color: #f1f8fc;
  padding: 1rem 0;

  .footer-container {
    .column-left,
    .column-right {
      p {
        margin: 0.3rem 0;
        text-align: left;
        line-height: 15px;
        font-size: 0.8rem;
      }
    }

    // Colonne des liens légaux
    .column-right {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 0.3rem;
    }

    // Version desktop
    @media (min-width: 768px) {
      .column-right {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
      }
    }
  }
}
