$navbar-bg: #f1f8fc; 
$navbar-text: black; 

.navbar-custom {
  background-color: $navbar-bg;
  padding: 0rem;

  .ml-links{
    margin-left: 20rem;
  }
  .navbar-brand,
  .nav-link {
    color: $navbar-text;
  }
}
